<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CAR_WASH_MANAGEMENT_SYSTEM.Properties.Settings.DBCarWashConnectionString"
            connectionString="Data Source=LAPTOP-I6VB6L2B\SQLEXPRESS;Initial Catalog=DBCarWash;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>